<header>
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Digital Tour</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to 'Ingresar', new_member_session_path, class: "nav-link" %>
          <%= link_to 'Ser guía', page_path('info'), class: "nav-link" %>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container">

  <div class="buscador">
    <div class="title">
      <h1>Reserva Tours</h1>
      <p>Con guías locales en 120+ países</p>
    </div>

    <div class="nav-search">
      <div class="select-city">
        <select class="form-select" aria-label="Default select example">
          <option selected>📍¿A qué ciudad te gustaria ir?</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="select-category">
        <select class="form-select" aria-label="Default select example">
          <option selected>Todas las categorias</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button">Buscar</button>
    </div>
  </div>

  <div class="subtitulo">
    <h2>Los Free Tours mas populares</h2>
    <p>Únete a algunos de nuestros tours en Dublín, Budapest, Barcelona, Berlín, Praga, Londres y mucho más.</p>
  </div>

  <div class="card-cointainer">
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/san-sebastian.jpg", "Ibiza", "España")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/Australia-e1659088883460.jpg", "Amsterdam", "Países Bajos")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/image-1-1-e1659088730274.png", "Dubrovnik", "Croacia")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/santuario-de-kumano-nachi-taisha-japon-1024x683.jpg", "San Petersburgo", "Rusia")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/shutterstock_1469188043-1024x576-1.png", "Praga", "República Checa")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/5b09713c2c00f-1.jpeg", "Bergen", "Noruega")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/06/Playas-Papagayo-1-e1654849790406.jpg", "Estambul", "Turquía")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/f.elconfidencial.com_original_418_2d9_b15_4182d9b15533c91a39b958e5f1d5e0ec-e1659089551915.jpg", "San Francisco", "Estados Unidos")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/f.elconfidencial.com_original_a1a_314_93c_a1a31493c15c22e049cb596841bf73a7-e1659089663893.jpg", "Venecia", "Italia")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/istock-686026812_ac58cbae_1280x853-e1659090327397.jpg", "San Miguel de Allende", "México")) %>
    <%= sanitize(generate_img("https://media.vozpopuli.com/2022/07/f.elconfidencial.com_original_ace_074_921_ace074921970083fefa0bde0977fca14-e1659090171771.jpg", "Toronto", "Canadá")) %>
    <%= sanitize(generate_img("https://img4.viajar.elperiodico.com/06/1e/cb/indonesia-paises-belleza-natural-650x428.jpg", "Ginebra", "Suiza")) %>
  </div>
</div>
