<%= render 'header' %>

<% if @enviado %>
  <div class="alert alert-success" role="alert">
    ¡Se ha enviado con éxito el formulario!
  </div>
<% else %>
  <div class="container">
    <div class="registration-form">
      <%= form_with model: @formulario, url: form_create_path do |form| %>
        <div class="form-icon"><span> <em class="fa-solid fa-user"></em> </span></div>

        <%= sanitize(exist_error?(:name, @formulario)) %>
        <%= form.text_field :name,
                            class: "form-control item #{'is-invalid' if @formulario.errors.include?(:name)}",
                            placeholder: "Nombre completo",
                            'data-controller': "form",
                            'data-action': "input->form#name" %>

        <%= sanitize(exist_error?(:email, @formulario)) %>
        <%= form.email_field :email,
                             class: "form-control item #{'is-invalid' if @formulario.errors.include?(:name)}}",
                             placeholder: "Su email",
                             'data-controller': "form",
                             'data-action': "input->form#email"
        %>

        <%= sanitize(exist_error?(:password, @formulario)) %>
        <%= form.password_field :password,
                                class: "form-control item #{'is-invalid' if @formulario.errors.include?(:name)}}",
                                placeholder: "Contraseña",
                                'data-controller': "form",
                                'data-action': "input->form#password"
        %>

        <%= sanitize(exist_error?(:password_confirmation, @formulario)) %>
        <%= form.password_field :password_confirmation,
                                class: "form-control item #{'is-invalid' if @formulario.errors.include?(:name)}}",
                                placeholder: "Confirma tu contraseña",
                                'data-controller': "form",
                                'data-action': "input->form#password_confirmation"
        %>

        <%= form.button "Enviar solicitud", class: "btn info" %>
      <% end %>
    </div>
  </div>
<% end %>