<br><br>
<header>
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <%= link_to 'Digital Tour', page_path('home'), class: "navbar-brand logo" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if policy(Post).dashboard_owner? %>
            <%= link_to 'Dashboard', owners_dashboard_path, class: "btn-nav" %>
            <%= link_to "Cerrar sesion", destroy_member_session_path, data: { turbo_method: :delete, turbo_confirm: "¿Cerrar sesión?" }, class: "btn-nav active" %>
          <% elsif policy(Post).dashboard_guide? %>
            <%= link_to 'Dashboard', guides_dashboard_path, class: "btn-nav" %>
            <%= link_to "Cerrar sesion", destroy_member_session_path, data: { turbo_method: :delete, turbo_confirm: "¿Cerrar sesión?" }, class: "btn-nav active" %>
          <% else %>
            <%= link_to 'Ingresar', new_member_session_path, class: "btn-nav" %>
            <%= link_to 'Registrarme como guía', page_path('info'), class: "btn-nav active" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>