<!DOCTYPE html>
<html lang="es" class='light'>
<head>
  <title>Digital Tour</title>
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/201/201623.png" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/63d6a31886.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
</head>

<body>
<% flash.each do |name, msg| %>
  <div class='container-fluid' style='padding-right: 35px; padding-left: 35px'>
    <br/><br/><br/>
    <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-#{'danger' if alert}#{'success' unless alert}" %>
  </div>
<% end %>

<%= render "layouts/header" %>

<%= yield %>

<% unless policy(Post).dashboard_owner? %>
  <%= render "layouts/footer" %>
<% end %>

</body>
</html>
